# Ignore all files ending with .log
*.log

# Ignore the 'temp' directory and its contents
temp/

# Ignore all files ending with .o or .a in the 'src' directory
cobol/src/*.o
cobol/src/*.a

# Ignore all files with a tilde (~) at the end
*~

# Ignore all .DS_Store files
.DS_Store
cobol/src/.DS_Store

# Ignore pycache directory
cobol/src/utils/__pycache__/
